body {
    margin: 0;
    padding: 0;
    min-width: 300px;
    font-family: "GothamMedium";
}

p { margin: 0; }

h2 {
    margin: 0;
    min-height: 90%; 
    text-align: right;
    display: table-cell; 
    vertical-align:middle;
}
#saveButton {
    cursor: pointer;
}

#loadingLabel {
    background-color: #1DB954;
    font-family: "GothamBold";
    text-align: center;
    
    width: 90%;
    padding: 5%;
}

textarea {
    resize: vertical; 
    width:100%;
}

button, .progressBar, .durationBar {
    border-width: 0;
    border-radius: 20px;
}

button, .player {
    color: #1f1f1f;
    background-color: #1DB954;
}

#loginButton {
    height: 30px;
    width: 300px;
    margin: 10px;
    display: none;
    font-family: "GothamBold";
}

#loggedInPopup {
    display: none;
}

#loggedInPopup, label {
    font-family: "GothamMedium";
}

label {
    font-family: "GothamBold";
}

#settingsHeader {
    height: 25px;
    width: 100%;
    margin-bottom: 5%;
    display: table;
    font-family: "GothamBold";
    background-color: #1DB954;
}

#settingsHeader>img {
    float: left;
    height: auto; 
    width: 25px;
}

#settingsHeader, #settingsSection { border-bottom: 1px #335f42 solid; }

.progressBar {
    background-color: #1f1f1f;
    height: 100%;
}

.durationBar {
    background-color: #335f42;
    height: 100%;
}

.player {
    width: 100%;
    height: 30px;
    display: grid; 
    align-items: center; 
    grid-template-rows: 30% 75%;
}

.playerBar {
    display: grid; 
    align-items: center; 
    grid-template-columns: 15% 70% 15%;
}

.playerLabel.left { text-align: left; }
.playerLabel.right { text-align: right; }

.playerLabel { 
    max-height: 100%;
    text-align: center; 
    text-overflow: clip;
}

@font-face {
    font-family: GothamMedium;
    font-style: normal;
    font-weight: 700;
    src: url(chrome-extension://__MSG_@@extension_id__/styles/GothamMedium.ttf); 
}

@font-face {
    font-family: GothamBold;
    font-style: normal;
    font-weight: 700;
    src: url(chrome-extension://__MSG_@@extension_id__/styles/GothamBold.ttf); 
}

@media (prefers-color-scheme: dark) { 
    label { color: #e2e2e2; }
    body { background-color: #1f1f1f; } 
}
@media (prefers-color-scheme: light) { 
    label { color: #1f1f1f; }
    body { background-color: #e2e2e2; } 
}